# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SQLAlchemy Database Connection URL
# For running inside Docker, use the host "db".
# For running locally on host machine, use the host "localhost".
DATABASE_URL=postgresql://postgres:postgres@db:5432/inventory_db

# Backend server config
BACKEND_PORT=8000

# Frontend API URL
VITE_API_URL=http://localhost:8000
